.button {
    width: 150px;
    height: 30px;
    background-color: $main_color;
    border-radius: 5.0px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    &_main {
        width: 300px;
        height: 50px;
        margin-top: 68px;
        font-size: 16px;
        line-height: 1.2;
        color: #ffffff;
        a {
            text-decoration: underline;
            text-decoration: uppercase;
            color: #ffffff;
        }
    }
}