.button {
    width: 150px;
    height: 30px;
    background-color: $main_color;
    border-radius: 5.0px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}