.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../../img/bg1.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
        }
    &__header {
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff
    }
    &__subheader {
        margin-top: 17px;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff
    }
    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 425px;
        margin-top: 65px;
    }
    &__icon {
        text-align: center;
        min-width: 106px;
        margin: 0 auto;
        margin-top: 24px;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 18px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        a {
            text-decoration: underline;
            text-decoration: uppercase;
            color: #ffffff;
        }
    }
}
.hidden {
   display: none; 
}